/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: whitesmoke;
  color: black;
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    display: none;
  }
}

.buttons {
  display: grid;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .heroBanner {
    padding: 4rem;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}