/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.featureHeading {
  font-size: x-large;
  padding-top: 1rem;
}

.hero {
  background-image: url(/static/img/bn.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding: 200px;
  text-align: center;
}

.heroInner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}

.heroProjectTagline {
  color: #101010;
  font-size: 32px;
  margin: 0;
}

.heroTitleTextHtml b {
  color: #101010;
}

@media only screen and (max-width: 800px) {
  .hero {
    padding-left: 24px;
    padding-right: 24px;
    background-repeat: no-repeat;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    font-size: 32px;
    text-align: center;
  }
}