/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */

.footer {
  background-color: lightgray;
  color: #212121;
  font-size: medium;
  font-family: sans-serif;
}

.navbar {
  background-color: whitesmoke;
  color: #212121;
  box-shadow: none;
}

.navbar__title {
  color: #212121;
  font-family: sans-serif;
  font-size: x-large;
}