.features {
  background-color: lightgray;
  color: #212121;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  font-family: sans-serif;
}

.featureSvg {
  height: 225px;
  width: 225px;
}
